* {

    margin: 0px;
    padding: 0px;
}

body {

    background-color: rgb(212, 222, 227);
}


#title {
    text-align: center;
    font-family: verdana;

}

#content {


}
ul {

    margin: 0px;
    padding: 0px;
}

ul li {

    list-style: none;
    border-style: none;



}
ul li:nth-child(odd) {

    background: #bfc2d2;
}

ul li:nth-child(even) {

    background: #e0e2ee;
}

footer {
    background: steelblue;
    position: fixed;
    bottom: 0px;
    width: 100%;

}
footer #input {
    position: relative;

    width: 75%;

}

footer #addButton {

    display: inline;
}

@media (min-width: 320px) {

    header {
        position: fixed;
        background-color: steelblue;
        top: 0px;
        width: 100%;

        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    #title {

        font-size: 2em;

    }

    #content {

    margin-top: 3em; /*Add #title fontsize + top, bottom padding on header */

    margin-bottom: 1.6em;
    }


    ul li {
        padding-left: 0.5em;
        padding-top: 0.5em;
        padding-bottom: 0.1em;
        font-size: 1.5em;


    }

    footer #input {
        width: 72%;
        font-size: 2em;
        border: none;

    }

    footer #addButton {
        font-size: 1.4em;
        text-align: center;

    }

}


@media (min-width: 640px) {
    header {
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;

    }
    #title {

        font-size: 1.7em;
    }

    #content {
        margin-top: 4em;
        margin-left: 30%;
        margin-right: 30%;
        width: 40%;
    }

    ul li {

        font-size: 1em;
    }
    footer {
        position: static;
        margin-left: 30%;
        margin-right: 30%;
        width: 40%;
        margin-bottom: 1em;
    }

    footer #input {
        width: 80%;
        font-size: 1.2em;
    }

    footer #addButton {
        font-size: 1em;

    }
}
